body {
   background-color: #599B93;
   background-image: linear-gradient(to bottom right, #0A2C48, #024059, #599B93);
   background-repeat: no-repeat;
   color: #F5F5F5;
   font-family: 'Open Sans Condensed', sans-serif;
}

.navbar {
    background-image: linear-gradient(to right, #0A2C48, #024059, #599B93);
    width: 100% !important;
}

.navbar-brand {
    color: #F5F5F5 !important;
    font-weight: bold;
}

.nav-link {
    color: #F5F5F5 !important;
}

@media only screen and (max-width: 600px) {
    .nav-link {
        margin-left: 1%;
    }

    .nav-link:hover {
        color: lightgrey !important;
        border-bottom: lightgrey solid 2px;
        width: 15%;
    }
}

.nav-link:hover {
    color: lightgrey !important;
    border-bottom: lightgrey solid 2px;
}

.navbar-toggler {
    border: solid 2px #F5F5F5 !important; 
}

#intro-video {
    width: 100%;
    height: 500px;
}

#background {
    background-color: #F5F5F5;
    margin-bottom: 5%;
}


/* Styling for animation reel  */
#animation-reel-container {
    text-align: center;
    width: 90%;
}


#animation-reel-container  > video {
    text-align: center;
    border-top: #599B93 3px solid;
    border-bottom: #599B93 3px solid;
    padding-top: 5%;
    padding-bottom: 5%;
}

#space-image-container {
    width: 100%;
    height: 500px;
    margin-top: 8%;
    background-image: url('../assets/img/background.jpg');
}

/* About me Styling */

#about-me-container {
    margin-top: 3%;
    text-align: center;
}

#about-me-container > h1 {
    border-bottom: #599B93 3px solid;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

#about-me {
    width: 80%;
    height: 350px;
    margin: 0 auto;
    margin-top: 5%;
}

/* Animation Gallery */
#animation-gallery {
    /* border: solid white 2px; */
    text-align: center;
    margin-top: 8%;
    width: 90%;
}

#animation-gallery > h1 {
    border-bottom: #599B93 3px solid;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8%;
    padding-bottom: 5%;
}

.animation-pop-up {
    margin-top: 5%;
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .animation-pop-up > img {
        width: 80%;
    }
}

#other-work {
    text-align: center;
    margin-top: 8%;
}

#other-work > h1 {
    border-bottom: #599B93 3px solid;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}
  














